*{
    box-sizing: border-box;
}
/*solo para este caso esta vein usar el selectro universar para wue todas las cajas que le demos tamaño respeten
el tamaño*/ 
body{
    background-color:#333;
    color:#fff;
    margin: 0;
}
.title{
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    width: 300px;
    background-color: lightcoral;
}
.block{
    background-color: purple;
    width: 200px;
    height: 200px;
    margin-left: auto;
    margin-right: auto;
    padding:20px;
    box-sizing: border-box;
    border:5px solid red;
   /* margin: 100px 50px 10px 200px;*/
   /*margin: 0 auto;  no utilizarlo si solo necesitamos centrarlo a los lados
 padding: 50px 20px 100px 70px;*/
}
.inLine{
    background-color: rgb(97, 160, 95);
    color:inherit;
    /*
    width: 200px;
    height: 200px;
     los elemento de linea no tienen medidas
     solo se le pude dar medidas a los elementos de bloque
    */
    
}
.header{
    background-color: red;
    height: 50px;
}
.buttons{
    background-color: steelblue;
    padding-top: 20px;
    padding-bottom: 20px;
    margin-top: 30px;
    
}
.button{
    margin-left: 250px;
    padding: 25px 50px;
    border: 20px solid red; 
    border-right-color:blue;
    border-right-width:10px;
}